.container {
    min-height: 100vh; /* Asegura que el contenido ocupe toda la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.chart-container:last-child {
    margin-bottom: 0; /* Evita espacio extra debajo del último gráfico */
}
html, body {
    height: 100%;
    overflow-x: hidden; /* Evita desplazamiento lateral */
}
